html {
    font-family: 'Victor Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

section {
    display: flex;
    margin-bottom: 3rem;
    max-width: 60rem;
}

section > header {
    flex: 1 0 14rem;
}

section > div {
    flex: 0 1 40rem;
    border-left: 2px solid black;
    padding-left: 1rem;
}

section > div > div {
    margin-bottom: 2rem;
}

ul {
    column-count: 3;
}

header h2 {
    border-bottom: 2px solid black;
}

header h3 {
    font-style: italic;
}

.testimonials > div {
    display: flex;
}

@media (max-width: 760px) {
    body {
        min-width: unset;
        padding: 1rem;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    section > header {
        text-align: center;
        margin-bottom: 1rem;
        flex: unset;
    }

    section > div {
        flex: unset;
        max-width: 30rem;
    }
}

@media (max-width: 460px) {
    ul {
        column-count: 2;
    }

    .testimonials > div {
        flex-direction: column;
    }
}
