html {
    font-family: 'Victor Mono', monospace;
}

body {
    margin: 1.5rem;
}

p {
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

section {
    display: flex;
    margin: 0 auto 3rem auto;
    max-width: 60rem;
}

section > header {
    flex: 1 0 14rem;
}

section > div {
    flex: 0 1 35rem;
    border-left: 2px solid black;
    padding-left: 1rem;
}

section > div > div {
    margin-bottom: 2rem;
}

ul {
    column-count: 3;
}

header h1,
header h2 {
    font-size: 2em;
    border-bottom: 2px solid black;
}

header h3 {
    font-style: italic;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

.testimonial {
    flex: 0.5 0 10em;
    margin-bottom: unset;
}

.project-title {
    display: flex;
}

.project-title img {
    margin-right: 1em;
}

@media (max-width: 760px) {
    body {
        min-width: unset;
        padding: 1rem;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    section > header {
        text-align: center;
        margin-bottom: 2rem;
        flex: unset;
    }

    section > div {
        flex: unset;
        max-width: 30rem;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 0.8rem;
    }

    body {
        padding: 0.5rem;
    }

    section {
        margin-bottom: 1rem;
    }

    section > div {
        border-left: unset;
        padding-left: unset;
    }

    ul {
        column-count: 1;
    }

    .testimonials {
        flex-direction: column;
    }

    .testimonial {
        flex-basis: unset;
    }
}
